# Copy this to .env and fill in your values
# Never commit .env to git

PROJ_SERVER_PORT=8001
PROJ_CLIENT_PORT=5173
PROJ_DB_CONNECTION_STRING=mongodb://localhost:27017/coedit-db
PROJ_DEPLOYED_FRONTEND_URL=http://localhost:5173
DEFAULT_DOC_ID=coedit-default-doc
SAVE_DEBOUNCE_MS=2000
REVISION_DEBOUNCE_MS=10000
